<div class="d-flex flex-column align-items-center" *ngIf="!isUnlocked;else prize">
    <h1 class="my-2 text-secondary">輸入最後的通關密碼</h1>
    <div class="col-6">
        <input type="password" [(ngModel)]="pw" class="form-control" [@wrong]="isWrong" (@wrong.done)="isWrong=false"/>
    </div>
    <div class="my-2">
        <button type="button" class="btn btn-primary" (click)="onPasswordSubmitted()">Submit</button>
    </div>
</div>
<ng-template #prize>
<div class="d-flex flex-column align-items-center">
    <h1>1. 下圖位置轉右走入馬路</h1>
    <img src="assets/step1.jpg" style="width:600px" />
    <h1>2. 一直沿路直走</h1>
    <img src="assets/step2.jpg" style="width:600px" />
    <h1>3. 你的禮物就在盡頭</h1>
</div>
</ng-template>
