<div class="d-flex flex-column align-items-center">
    <h1 class="my-2 text-secondary">通往下一關的鏈結就在下面!</h1>
    <p class="text-secondary">提示：找出16個一樣的單字，此單字是一個名字</p>
    <table>
        <tbody>
            <tr *ngFor="let r of [].constructor(rows); let y = index">
                <td *ngFor="let c of [].constructor(cols); let x = index" class="text-center" (click)="onTileClicked(x,y,$event)">
                    <span class="text-secondary">{{ itemGrid[y][x].item }}</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
